@page{
    margin: 0cm 0cm;
    font-size: 1em;
}
body{
    margin: 1.5cm 2cm 2cm;
}

header{
    position: fixed;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    height: 1.5cm;
    bottom: 0.2cm;
    background-color: #fff;
    color: black;
    text-align: center;
    line-height: 30px;
}

footer{
    position: fixed;
    bottom: 0cm;
    left: 0cm;
    right: 0cm;
    height: 2cm;
    background-color: #46C66B;
    color: white;
    text-align: center;
    line-height: 35px;
}

header h3{
    font-family: Arial, Helvetica, sans-serif;
    
}

#titulo_reporte{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: blue;
    font-weight: bold;
    margin: 0;
}
#subtitulo_reporte{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:darkgreen;
    margin-top: 0;
}

#inv{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%
}
#inv td, #inv th{
    border: 1px solid #000;
    padding: 4px;
}
#inv th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: #fff;
    font-size: 12px;
}


#inv td{
    font-size: 10px;
}

.text_center{
    text-align: center;
}

header #logo{
    position: fixed;
    top: 0.1cm;
    left: 2.5cm;
    width: 1.3cm;
    height: 1.5 cm;
    
}

/* estilos para hacer salto de pagina */
.page-break {
    page-break-after: always;
}